table {
    border-collapse: collapse;      /*Added by Hank*/
}

table, th, td {                     /*Added by Hank, this changes the border around tables to 1 pixel and makes them gray. Also adds some padding around the text and border*/
    border: 1px dimgray;
    padding: 5px;
}

.hanks-font {                       /*Added by Hank, this makes the font larger and tries to select Helvetica, if Helvetica isn't supported than it picks an available sans-serif*/
    font-size: x-large;
    font-family: Helvetica, sans-serif;
}

.imgcenter {                        /*Added by Hank, this centers an image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#imgrounded {                       /*Added by Hank, this id rounds an image - used by my 1917 poster*/
   border-radius: 5%;
}

table.center {                      /*Added by Hank, this class centers tables*/
    margin-left:auto;
    margin-right:auto;
}

.txtcenter {                        /*Added by hank, this class center aligns text*/
    text-align: center;

}
.fcb-font {                         /*Edit added by Jackie*/
    color:blue;
    font-size: 28px;
}

#fcbinfo {                          /*edit added by Jackie*/
    color:lightcoral;
    font-size: 18px;
    text-align: center;
}
#myH {                                /*Added by Abd*/
  color: blue;
  font-family: verdana;
  font-size: 300%;
  border: 1px solid powderblue;
  padding: 30px;
  margin: 50px;
  text-align: center;
}
.city {                                /*Added by Abd*/
  background-color: tomato;
  color: white;
  padding: 10px;
  text-align: center;
}
.fleximg {                              /*Added by Hank - centers flex*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.single-img {                           /*Added by Hank*/
    padding: 10px;
}